.titulo{
    font-family: sans-serif;
    text-align: center;
    padding: 38px;
    font-style: italic;
    color: #5e411e;
}

.parrafo{
    column-count: 2;
    text-align: justify;
    padding: 10px;
    column-gap: 40px;
    margin-bottom: 10px;
    color: #000000;
}

.navegador{
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
}

/* formato del separador del pie */  
.pieSeparador{
    padding: 20px;
    background-color:   #5e411e;
    ;
    
}

/* formato del pie */  
.pie{
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
    background-image: url("img1/crema.jpg");
}

body {
  height: 1350px;
  
  background-image: url("img1/crema.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
    
  }
